<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Houses - PMA</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/default.css}">
    <link rel="stylesheet" th:href="@{/assets/css/house-cards.css}">
</head>

<body id="page-top">
<div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-chalkboard-teacher" style="transform: rotate(15deg);"></i></div>
            <div class="sidebar-brand-text mx-3"><span>PMA</span></div>
        </a>
            <hr class="sidebar-divider my-0">
            <ul class="navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item"><a class="nav-link" href="index.html"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                <li class="nav-item"><a class="nav-link active" href="houses.html"><i class="fas fa-home"></i><span>Houses</span></a></li>
                <li class="nav-item"><a class="nav-link" href="tenancies.html"><i class="fas fa-table"></i><span>Tenancies</span></a><a class="nav-link" href="tenants.html"><i class="fas fa-users"></i><span>Tenants</span></a><a class="nav-link" href="landlords.html"><i class="fas fa-user-cog"></i><span>Landlords</span></a></li>
            </ul>
            <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
        </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container-fluid">
                <h2 class="text-dark mb-4" style="margin-top: 18px;">Houses</h2>
                <a type="button" class="btn btn-success"
                   th:href="@{/house/showAdd}"
                >+ New House</a>
            </div>


            <section>
                <div class="container" style="padding-top: 24px;">
                    <div class="row">
                        <tr th:if="${#lists.isEmpty(houses)}">
                            <td colspan="7">No Records found. Add some...!</td>
                        </tr>
                        <div class="col-md-4" th:each="house: ${houses}">
                            <div class="blog-card blog-card-blog">
                                <div class="blog-card-image"><img class="img-fluid img" th:src="@{/assets/img/place-holders/house-place-holder-1.jpg}" width="263" height="195"></div>
                                <div class="blog-table">
                                    <h6 class="blog-category blog-text-success"><i class="fas fa-pound-sign"></i><span style="font-weight:bold" th:text="' ' + ${house.getCost()}"></span></h6>
                                    <h4 class="blog-card-caption" style="margin: -31px 0px 8px;margin-bottom: -6px;margin-top: -26px;"></h4>
                                    <p class="blog-card-description" style="margin-top: 40px;margin-bottom: 20px;">Charles Street, LE1 1GS</p>
                                    <div class="ftr">

                                        <a class="info" th:data-deleteID="'#deleteModal'+${house.houseID}"
                                           onclick="modal(this.getAttribute('data-deleteID'));"
                                        >
                                            <div class="stats" data-toggle="tooltip" data-placement="bottom" title="Delete House">
                                                <i class="fas fa-trash-alt" style="margin-right: 5px;margin-left: 5px;color: var(--bs-danger);"></i>
                                            </div>
                                        </a>

                                        <a class="info" th:href="@{/house/{houseID}/edit(houseID=${house.houseID})}">
                                            <div class="stats" data-toggle="tooltip" data-placement="bottom" title="Update Details">
                                                <i class="fas fa-edit" style="margin-right: 5px;margin-left: 5px;color: var(--bs-warning);"></i>
                                            </div>
                                        </a>

                                        <a class="info" th:href="@{/house/{houseID}(houseID=${house.getHouseID()})}">
                                            <div class="stats" data-toggle="tooltip" data-placement="bottom" title="View More Details">
                                                <i class="fas fa-info-circle" style="margin-right: 5px;margin-left: 5px;"></i>
                                            </div>
                                        </a>
                                        <div class="beds"><i class="fas fa-bed" style="margin-right: 3px;"></i><span th:text="${house.getNoOfRooms()}"></span></div>
                                    </div>
                                </div>

                                <!-- Delete Modal -->
                                <div class="modal" th:id="'deleteModal'+${house.getHouseID()}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this house?</h5>
                                                <button type="button" class="close" aria-label="Close"
                                                        th:data-deleteID="'#deleteModal'+${house.getHouseID()}"
                                                        onclick="modal(this.getAttribute('data-deleteID'));"
                                                >
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p><b>House Details</b></p><br>
                                                <p th:text="${house.toString()}"></p><br>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        th:data-deleteID="'#deleteModal'+${house.getHouseID()}"
                                                        onclick="modal(this.getAttribute('data-deleteID'));"
                                                >Cancel</button>
                                                <a type="button" class="btn btn-danger"
                                                        th:href="@{/house/{houseID}/delete(houseID=${house.getHouseID()})}"
                                                >Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </section>



        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © PMA 2022</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/bs-init.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/theme.js}"></script>

<script type="text/javascript">
    function modal(e){
        $(e).modal('toggle');
    }
</script>


</body>

</html>